<h4> My Trips </h4>
 <div class="transitions-enabled" id="trips">
    <% @user.trips.each do |trip| %>
      <div class="box panel panel-default">
        <div class="col-md-3"> </div>
          <%= link_to (image_tag trip.image.url(:medium)), trip %>

          
        <div class="panel-body">
          <h3>
            <%= link_to trip.name, trip %>
          </h3>
          <p class="user"></p>
          Submitted by
          <%= trip.user.email %>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">Presupuesto de <%=trip.budget%> USD por dia</div>
            <div class="col-md-6">
              <div class="btn-group pull-right">
                <%= link_to like_trip_path(trip), method: :put, class: "btn btn-default" do  %>
                  <span class="glyphicon glyphicon-heart">
                    <%= trip.get_upvotes.size %>
                  </span>
                <% end %>
                <%= render 'shared/actions', resource: trip %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
