
.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 Welcome to your new trip
			.panel-body
				= simple_form_for @trip do |f|
					= f.input :name
					= f.input :date_start, as: :date
					= f.input :date_end, as: :date
					= f.input :rating, collection: 1..10
					= f.input :budget, collection: 1..100
					%br/
					%strong Current Image
					- if @trip.image.present?
						=image_tag @trip.image.url(:medium)
					- else
						= f.input :image
					%br/
					= f.button :submit, class: "btn btn-primary"



