<h1>Welcome to youre new trip</h1>
<%=form_for @trip do |f|%>
	<%=f.label :name%>
	<%=f.text_field :name%>
	<br>
	<%=f.label :date_start%>
	<%=f.date_field :date_start%>
	<br>
	<%=f.label :date_end %>
	<%=f.date_field :date_end%>
	<br>
	<%=f.label :rating%>
	<%=f.number_field :rating , class: 'text_field', in: 1..5%>
	<br>
	<%=f.label :budget%>
	<%=f.number_field :budget, :class => 'text_field', :step => 'any', :min => 0%>
	<%=f.submit%>
<%end%>