<h3>Upload you're photo file in here:</h3
<%= form_for @photo, html: { multipart: true } do |f| %>
<%= f.label :photo %><br>
<div class="input-group">
  <span class="input-group-btn">
    <span class="btn btn-small btn-primary btn-inverse" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
    <%= f.file_field :image, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
  </span>
  <span class="form-control"></span>
</div>	
</div>
<%=  f.label :description%>
<%=  f.text_field :description, size: 200%>
<%=  f.hidden_field :date, :value=> Time.now%>
<%= f.submit "Upload"%>