<% if current_user.liked? likeable %>
  <%= form_tag unlike_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), method: :post, remote: true, data: { id: likeable.id } do %>
    <% button_tag class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-heart">
      <span class="like-count" data-id="<%= likeable.id %>"><%=likeable.get_likes.size%></span>
    <% end %>
  <% end %>
<% else %>
  <%= form_tag like_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), remote: true, data: { id: likeable.id } do %>
    <% button_tag class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-heart">
      <span class="like-count" data-id="<%= likeable.id %>">
        <%=likeable.get_likes.size%>
      </span>
    <% end %>
  <% end %>
<% end %>
