<script type="text/javascript">
  var type = 'loc';
  $('#type').val(type);
  function doSomething() {
    $('#type').val("loc");
    console.log("loc");
}
  function doSomething1() {
    $('#type').val("trep");
    console.log("tirp");
}
</script>
<h1>Search#new</h1>
<p>Find me in app/views/search/new.html.erb</p>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div id="but1"  class="btn-group" role="group">
    <button type="button" onclick="doSomething()" class="btn btn-default ">Location</button>
  </div>
  <div id="but2" class="btn-group" role="group">
    <button type="button" onclick="doSomething1()" class="btn btn-default">Trip</button>
  </div>
</div>
<%= form_for @search, html: {class: "pure_form"} do |f| %>
        <div class="field" style="text-align:left">
          <%= f.label :name %><br>
          <%= f.text_field :name , class: "form-control"%>
        </div>

        <div class="field" style="text-align:left">
          <br>
          <%= f.label :country %><br>
          <%= f.text_field :continent , class: "form-control"%>
        </div>

        <div class="field" style="text-align:left">
          <br>
          <%= f.label :interests %><br>
          <%= f.text_field :interests , class: "form-control"%>
          <%= f.hidden_field :tipo, id: "type" %>
        </div>
        <div>
        </div>
        <div class="actions">
          <br>
          <%= f.submit "Search" , class: "btn btn-large btn-primary btn-block"%>
        </div>
      <% end %>
