<script type="text/javascript">
  $('#type').val('loc');
  var interests = "";
  function doSomething(value) {
    $('#type').val(value);
}
</script>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div id="but1"  class="btn-group" role="group">
    <button type="button" onclick="doSomething('loc')" class="btn btn-default ">Location</button>
  </div>
  <div id="but2" class="btn-group" role="group">
    <button type="button" onclick="doSomething('trep')" class="btn btn-default">Trip</button>
  </div>
</div>
<%= form_for @search, html: {clss: "pure_form"} do |f| %>
        <div class="field" style="text-align:left">
          <%= f.label :name %><br>
          <%= f.text_field :name , class: "form-control"%>
        </div>

        <div class="field" style="text-align:left">
          <br>
          <%= f.label :country %><br>
          <%= f.text_field :continent , class: "form-control"%>
        </div>

        <div class="field" style="text-align:left">
          <br>
          <%= f.label :interests %><br>
          <input class="form-control" id="magicsuggest">
          <%= f.hidden_field :interests, id: "interests" %>
          <%= f.hidden_field :tipo, id: "type" %>
        </div>
        <div>
        </div>
        <div class="actions">
          <br>
          <%= f.submit "Search" , class: "btn btn-large btn-primary btn-block"%>
        </div>
      <% end %>
<script type="text/javascript">
 var ms =  $('#magicsuggest').magicSuggest({
        placeholder: 'Type your interests here',
        data: <%=raw(@interests)%>
    });
$(ms).on('selectionchange', function(){
  str = JSON.stringify(this.getSelection(), ["name"]).replace(/[,:{}]/g, "").replace("[", "").replace("]", "").split('"');
  aux = "";
  for (var i = 0; i <= Math.floor(str.length/4) - 1; i++) {
    aux = aux +str[i*4 + 3] + ",";
  }
  $('#interests').val(aux);
});
</script>