<%if not @search.search_locations.nil? %>
	<%if @search.tipo != "loc"%> 
		 <div class="transitions-enabled" id="trips">
		 	<% @search.search_locations.each do |location| %>
		 		<div class="box panel panel-default">
			        <div class="col-md-3"> </div>
			          <%= link_to (image_tag location.trip.image.url(:medium)), location.trip , 'data-no-turbolink' => true%>
			        <div class="panel-body">
			          <h3>
			            <%= link_to location.trip.name, location.trip , 'data-no-turbolink' => true%>
			          </h3>
			          <p class="user"></p>
			          Submitted by
			          <%= location.trip.user.name %>
			        </div>
			        <div class="panel-footer">
			          <div id="<%= location.trip.id %>" class="row">
			            <div class="col-md-6">Presupuesto de <%=location.trip.budget%> USD por dia</div>
			            <%= render 'shared/actions', resource: location.trip %>
			          </div>            
			        </div>
			    </div>
			<% end %>
	<%else%>
		<div class="transitions-enabled" id="trips">
		 	<% @search.search_locations.each do |loc| %>
		 		      <div class="box panel panel-default">
        <div class="col-md-3"> </div>
        <script type="text/javascript">
          locs.push([<%=loc.latitude%>, <%=loc.longitude%>, String("<%=loc.travel_mode%>")]) 
        </script>        
        <div class="panel-body">
          <h3>
            <%= link_to loc.address, [loc.trip,loc] , 'data-no-turbolink' => true %>
          </h3>
          <p class="user"><%= loc.country %></p>
          <% if loc.tips.any? %>
            <p><%= loc.tips.collect { |a| a.name } %></p>
          <% else %>
            <p>There are no interests here</p>
          <% end %>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6"> <%=loc.days%> Days</div>
            <div class="col-md-6">
              <div class="btn-group pull-right">
                <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, [loc.trip, loc], method: :delete, data: { confirm: 'Are you sure?' } %> 
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-<%= loc.id %>">
                Add location to my trip</button>
              </div>
            </div>
          </div>
        </div>
      </div>
			<% end %>
	<%end%>
<%else%>
	<h1>No locations Found!</h1>
<%end%>


