<h3>Fill your tip for this location over here!</h3>
<%= form_for [@location, @tip] do |f|%>
<%=f.label :name%>
<%=f.text_field :name%>
<br>
<%=f.label :description%><br>
<%=f.text_area :description, size: "30x10"%>
<br>
<%=f.submit "Upload"%>
<%end%>