<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
</head>
<script type="text/javascript">
  window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload(true);
    }
};
</script>
<h1>Locations#new</h1>
<p>Find me in app/views/locations/new.html.ercwdcscwwwwvwvweb</p>
<script type="text/javascript">
  var lat;
  var lng;
  var name;
</script>
<%= javascript_include_tag('jquery.geocomplete.js') %>
<%= javascript_include_tag('logger.js') %>
    <form>
      <input id="geocomplete" type="text" placeholder="Type in an address" size="90" />
      <input id="find" type="button" value="find" />
    </form>
    <h1><%=@trip%></h1>
    <pre id="logger">Log:</pre>
    <%=form_for [@trip ,@location] do |f|%>
	<%=f.hidden_field :name, :id=>"name_field"%>
	<%=f.hidden_field :lat, :id=>"lat_field"%>
	<%=f.hidden_field :long, :id=>"long_field"%>
	<br>
	<%=f.label :days%>
	<%=f.number_field :days , class: 'text_field', :step => 1%>
	<br>
  <%=f.label "Travel Mode to arrive"%>
  <%=f.select(:travel_mode ,options_for_select([['DRIVING', 'DRIVING'], ['TRANSIT', 'TRANSIT'], ['WALKING', 'WALKING'], ['BICYCLING', 'BICYCLING'], ['FLIGHT', 'FLIGHT']]))%>
	<%=f.submit%>
  <%end%>
    <div id="map-container" style="width: 800px; height: 400px;">
  <div class="map_canvas" style="width: 800px; height: 400px;"></div>
</div>
    <h2>variables de la respuesta address_components,formatted_address,geometry,place_id,types</h2>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<%= javascript_include_tag('geokomplete.js')%>
