<head>
</head>
<h1>Locations#new</h1>
    <h1><%=@trip.name%></h1>
    <%=form_for [@trip ,@location] do |f|%>
    <%=f.label :address, "Name"%>
	<%=f.text_field :address, class: "form-control" %>
	<br>
	<%=f.label :days%>
	<%=f.number_field :days , class: 'text_field', :step => 1%>
	<br>
  <%=f.label "Travel Mode to arrive"%>
  <%=f.select(:travel_mode ,options_for_select([['DRIVING', 'DRIVING'], ['TRANSIT', 'TRANSIT'], ['WALKING', 'WALKING'], ['BICYCLING', 'BICYCLING'], ['FLIGHT', 'FLIGHT']]))%>
	<%=f.submit%>
  <%end%>
