<%=javascript_include_tag "//maps.google.com/maps/api/js?key=AIzaSyDz8mE8BZQh68cH9foLPNTvlM6dMrdQMfo", :async => true, :defer => "defer"%>
<%=javascript_include_tag "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js", :async => true, :defer => "defer"%>
<%=javascript_include_tag '//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js', :async => true, :defer => "defer"%>
<%=link_to 'Add Photo', new_location_photo_path(location_id: @location.id), 'data-no-turbolink' => true%>
<%=link_to 'Add Tip', new_location_tip_path(location_id: @location.id)%>
<%=link_to 'Add Interests', new_location_interest_path(location_id: @location.id)%>
<%=link_to 'Back to Trip', @trip%>
<h1>Other Users tips: Se desarrollara despues</h1>
<h1>Other Users Photos: se desarrollara despues</h1>
<h1><%=@location.address%>, <%=@location.country%></h1>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<%@others.each do |locs|%>
			<%locs.tips.each do |tipz|%>
				<th>
					<td>tipz.name</td>
					<td>tipz.description</td>
					<td><%link_to [locs, tipz]%></td>
				</th>
			<%end%>
			<%locs.photos.each do |photo|%>	
			<%end%>	
		<%end%>
	</tbody>
</table>
<script type="text/javascript">
	$( document ).ready(
		function () {
	handler1 = Gmaps.build('Google');
	handler1.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler1.addMarkers([
	    {
	      "lat": <%=@location.latitude%> ,
	      "lng": <%=@location.longitude%> ,
	      "picture": {
	        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
	        "width":  20,
	        "height": 20
	      },
	      "infowindow": "hello!"
	    }
	  ]);
	  handler1.bounds.extendWith(markers);
	  handler1.fitMapToBounds();
	});
}
		);

</script>

