<%=@location.name%>
<%=link_to 'Add Photo', new_location_photo_path(location_id: @location.id), 'data-no-turbolink' => true%>
<%=link_to 'Add Tip', new_location_tip_path(location_id: @location.id)%>
<h1>Other Users tips: Se desarrollara despues</h1>
<h1>Other Users Photos: se desarrollara despues</h1>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

<%= javascript_include_tag('jquery.geocomplete.js') %>
<%= javascript_include_tag('logger.js') %>
<div id="map-container" style="width: 800px; height: 400px;">
  <div class="map_canvas" style="width: 800px; height: 400px;"></div>
</div>
<%= javascript_include_tag('geokomplete.js')%>